[Unit]
Description=Knowage

[Service]
Type=forking
ExecStart=/data/wwwroot/knowage/bin/catalina.sh start
ExecStop=/data/wwwroot/knowage/bin/catalina.sh stop
PrivateTmp=true
User=knowage
Group=knowage 

[Install]
WantedBy=multi-user.target