[Unit]
Description=Knowage
After=mysql.service

[Service]
Type=forking
ExecStart=/data/wwwroot/knowage/Knowage-Server-CE/bin/catalina.sh start
ExecStop=/data/wwwroot/knowage/Knowage-Server-CE/bin/catalina.sh stop
PrivateTmp=true
User=knowage
Group=knowage 

[Install]
WantedBy=multi-user.target
