- name: Delete knowage dir for sec_installation
  shell: rm -rf /data/wwwroot/knowage

- name: Create dir for knowage
  file: 
    state: directory
    path: "{{item}}"
  loop: 
    - /data/wwwroot/knowage
    - /data/wwwroot/knowage/volumes
    - /data/db/mariadb

- name: Clone knowage in Websoft9 
  git:
    repo: "{{knowage_git_url}}"
    dest: "/data/wwwroot/knowage"

- name: Run docker-compose 
  shell: | 
    docker-compose -f docker-compose-production.yml up -d
    sleep 30
  args:
    chdir: /data/wwwroot/knowage

# knowage nginx rewrite setting and restart nginx
- name: knowage nginx rewrite setting
  lineinfile:
    path: /etc/nginx/conf.d/default.conf
    regexp: '^.*proxy_pass.*$'
    line: 'rewrite ^ $scheme://$host:8080/knowage;'
    state: present
    backrefs: yes

- name: restarted nginx
  shell: systemctl restart nginx

- name: Set soft link for knowage
  file:
    src: '{{item.src}}'
    dest: '{{item.dest}}'
    state: link
    force: yes
  with_items:
  - {src: /data/wwwroot/knowage/volumes/db/,dest: /data/db/mariadb/db}
  - {src: /data/wwwroot/knowage/volumes/cache/,dest: /data/db/mariadb/db/cache}

# check service and version
- name: Check knowage service 
  shell: echo "knowage" `docker inspect knowage |grep -i status`
  register: check_knowage_service
  notify: check_knowage_service
    
- name: Check knowage version
  shell: >
    sudo echo "knowage version:" $(docker images |grep knowagelabs |awk '{print $2}' |head -1 |cut -d- -f1) |sudo tee -a /data/logs/install_version.txt  

- name: Check mariadb version
  shell: >
    sudo echo "mariadb version:" $(docker images |grep mariadb |awk '{print $2}') |sudo tee -a /data/logs/install_version.txt  