- name: Delete knowage dir for sec_installation
  shell: rm -rf {{knowage_work_dir}}

- name: Clone knowage in Websoft9 
  git:
    repo: "{{knowage_git_url}}"
    dest: "{{knowage_work_dir}}"
    version: dev

- name: Create dir for knowage
  file: 
    state: directory
    path: "{{item}}"
  loop: 
    - '{{knowage_work_dir}}/volumes'
    - /data/db/mariadb
    
- name: Rename and Run docker-compose 
  shell: | 
    rm -rf docker-compose.yml .env
    mv docker-compose-production.yml docker-compose.yml
    mv .env_all .env
    docker-compose up -d
    sleep 30
  args:
    chdir: '{{knowage_work_dir}}'

# knowage nginx rewrite setting and restart nginx
- name: knowage nginx rewrite setting
  lineinfile:
    path: /etc/nginx/conf.d/default.conf
    regexp: '^.*proxy_pass.*$'
    line: 'rewrite ^ $scheme://$host:9001/knowage;'
    state: present
    backrefs: yes

- name: restarted nginx
  shell: systemctl restart nginx

- name: Set soft link for knowage
  file:
    src: '{{item.src}}'
    dest: '{{item.dest}}'
    state: link
    force: yes
  with_items:
  - {src: '{{knowage_work_dir}}/volumes/db/',dest: /data/db/mariadb/db}
  - {src: '{{knowage_work_dir}}/volumes/cache/',dest: /data/db/mariadb/db/cache}

# check service and version
- name: Check knowage service 
  shell: echo "knowage" `docker inspect knowage |grep -i status`
  register: check_knowage_service
  notify: check_knowage_service
    
- name: Check knowage version
  shell: >
    sudo echo "knowage version:" $(docker images |grep knowagelabs |awk '{print $2}' |head -1 |cut -d- -f1) |sudo tee -a /data/logs/install_version.txt  

- name: Check mariadb version
  shell: >
    sudo echo "mariadb version:" $(docker images |grep mariadb |awk '{print $2}') |sudo tee -a /data/logs/install_version.txt  